<div class="container">
  <div class="row">
    <div class="column">
      <h1 id="main-title"> PROXIVÉLIB</h1>
    </div>
    <div class="column"</div>
  </div>
</div>

<br>

<div class="table-container container">
    <div class="row">

      <div class="column">
        <table>
          <thead>
            <div id="table-title">STATIONS À PROXIMITÉ DES LOCAUX DE THP</div>
                <tr>
                    <th >Nom</th>
                    <th >Nombre de vélos</th>
                    <th >Distance</th>
                </tr>
          </thead>
          <tbody id="table-content" >

          </tbody>
      </table>
    </div>

    <div class="column">
      <div  class="map "id= "main-map" ></div>
    </div>

  </div>

</div>



<div class="container">
  <button type="button" name="button-refresh" class="button-large" onclick="refreshMethod();">REFRESH</button>
</div>

<div class="container">

    <%= form_tag url_for(action: 'create'), multipart: true,id: "main-form" ,class: "search_form" ,method: "post",  :remote => true do %>

      <div >
        <%= label_tag "ADRESSE", nil, class:"label" %>
        <%= text_field_tag 'place', @place, class: "form-control ", placeholder: 'OÙ SOUHAITEZ VOUS TROUVER DES VÉLIBS ?' %>
      </div>

      <div class="submit-button">
        <%= submit_tag "Envoyer", id: "submit_btn" ,class: 'inner-btn'   %>
      </div>

    <%end%>

</div>

Données fournies sympathiquement par <a href="https://citybik.es">CITYBIK.ES</a>

<%= javascript_include_tag 'main_map' %>
<%= javascript_include_tag 'api_request' %>
<%= javascript_include_tag 'geocoder_request' %>
